.action-controls {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 25px;
    justify-content: flex-start;
}

.action-icon {
    width: 45px;
    height: 45px;
    position: relative;
    border-radius: 50%;
    background-color: #fcfdfc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.action-icon:hover {
    transform: scale(1.2);
}

.icon {
    width: 24px;
    height: 24px;
    color: rgba(233, 164, 113, 1);
}