.recipe-header{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: space-between;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0px 1px 0px rgba(117, 105, 97, 0.8);
}

.recipe-header.top-collapsed {
    padding: 20px 60px;
}

.recipe-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        to bottom,
        rgba(68, 53, 42, 0.8),
        rgba(68, 53, 42, 0.5),
        rgba(68, 53, 42, 0.2)
    );
    z-index: -1;
}

.icon {
    width: 32px;
    height: 32px;
}

.top-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 1;
    transition: opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1), transform 0.8s ;
}

.top-header.hidden {
    opacity: 0;
    transform: translateY(-80px);
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    width: 100%;
    max-width: 80px;
    height: auto;
}

.bottom-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 1;
}

.recipe-title {
    position: relative;
    font-size: 52px;
    letter-spacing: 0.15px;
    line-height: 43px;
    font-weight: 800;
    color: #fff;
    text-align: left;
    font-family: 'Playfair';
}

.views-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: flex-end;
    font-family: 'Poppins';
    font-weight: 400;
    color: #fff;
    gap: 8px;
}

.controls-views-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .recipe-header {
        padding: 20px 30px
    }

    .recipe-title {
        font-size: 36px;
        line-height: 1.2;
    }

    .controls-views-wrapper {
        flex-direction: column;
        gap: 10px;
    }

    .views-wrapper {
        width: 100%;
        gap: 4px;
        font-size: 14px;
    }
}